@model IEnumerable<WorkAndTravel.Web.ViewModels.Account.PostsListViewModel>

@{
    this.ViewData["Title"] = "Applicants to my posts";
}

<h1 class="text-primary">@this.ViewData["Title"]</h1>
<hr />
@foreach (var item in Model)
{
    if (item.WorkPosts != null)
    {
    <table class="table table-bordered table-hover table-striped">
        <thead>
            @foreach (var post in item.WorkPosts)
            {
                <tr>
                    <th>
                        <a asp-controller="WorkPost" asp-action="ById" asp-route-id="@post.WorkPost.Id">@post.WorkPost.Title</a>
                       - @post.ApplicationUser.Email 
                    </th>
                </tr>
            }
        </thead>
    </table>
    }
}