@model WorkAndTravel.Web.ViewModels.Account.EditProfileViewModel
@{
    this.ViewData["Title"] = "Edit profile";
}

<h1>@ViewData["Title"]</h1>

<form method="post" id="editForm" enctype="multipart/form-data">
    <div class="form-group col-md-2">
        <label asp-for="FirstName">First name:</label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group col-md-2">
        <label asp-for="LastName">Last name:</label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group col-md-2">
        <label asp-for="@Model.Username">Username:</label>
        <input asp-for="@Model.Username" class="form-control" />
        <span asp-validation-for="@Model.Username" class="text-danger"></span>
    </div>
    <div class="form-group col-md-2">
        <label asp-for="Email">Email:</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group col-md-3">
        <label asp-for="ProfilePicture">Profile picture</label>
        <input asp-for="ProfilePicture" class="form-control" />
        <span asp-validation-for="ProfilePicture" class="text-danger"></span>
    </div>
    <hr />
    <input type="hidden" asp-for="Id" />
</form>
<button class="btn btn-primary" data-toggle="modal" data-target="#editModal">Save changes</button>

<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirm changes.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Do you want to edit your profile ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" onclick="editForm.submit()">Save Changes</button>
            </div>
        </div>
    </div>
</div>