@model ContactUsInputModel
@{
    this.ViewData["Title"] = "Contact-us";
}
<link href="~/css/style.css" rel="stylesheet" />
<body class="contactUs">

    <div class="row">
        <div class="container justify-content-center">
            <div class="col-md-6" style="padding-top:110px;margin-left:auto;margin-right:auto;">
                <div class="form-area">
                    <form role="form" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <h5 class="font-weight-bold text-purple text-sm-center">Need help ?</h5>
                        <h1 style="margin-bottom: 25px; text-align: center;font-weight:700;">Contact Us</h1>
                        <div class="form-group">
                            <input asp-for="Name" type="text" class="form-control" placeholder="Name" required>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Email" placeholder="Email" class="form-control" required />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Subject" placeholder="Subject" class="form-control" required />
                            <span asp-validation-for="Subject" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <textarea asp-for="Message"
                                      class="form-control"
                                      placeholder="Message"
                                      rows="8" required>
                            </textarea>
                            <span asp-validation-for="Message" class="text-danger"></span>
                        </div>

                        <button type="submit" id="submit" name="submit" class="btn btn-primary pull-right">
                            <i class="fas fa-paper-plane pr-1"></i>Submit
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
