@model CreateWorkPostsInputModel
@{
    this.ViewData["Title"] = "Create new post";
    var categoryItems = this.Model.CategoryItems.Select(x => new SelectListItem(x.Value, x.Key));
    var countryItems = this.Model.CountryItems.Select(x => new SelectListItem(x.Value, x.Key));

}

<h1>@this.ViewData["Title"]</h1>

<form method="post">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control" rows="7">></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CategoryId"></label>
        <select asp-for="CategoryId" class="form-control" asp-items="categoryItems"></select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="WorkLengthDescription"></label>
        <input asp-for="WorkLengthDescription" class="form-control" />
        <span asp-validation-for="WorkLengthDescription" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PaymentPerDay"></label>
        <input asp-for="PaymentPerDay" class="form-control" />
        <span asp-validation-for="PaymentPerDay" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CountryId"></label>
        <select asp-for="CountryId" class="form-control" asp-items="countryItems"></select>
        <span asp-validation-for="CountryId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="City"></label>
        <input asp-for="City" class="form-control" />
        <span asp-validation-for="City" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address"></label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Requirement"></label>
        <textarea asp-for="Requirement" class="form-control" rows="7">></textarea>
        <span asp-validation-for="Requirement" class="text-danger"></span>
    </div>

    <input type="submit" class="btn btn-primary" />
</form>