@using WorkAndTravel.Common
@using WorkAndTravel.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (this.SignInManager.IsSignedIn(this.User))
    {
    <li class="nav-item">
        <a class="font-weight-bolder nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Index"><i class="fas fa-user-alt"> Account</i></a>
    </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@(this.Url.Action("Index", "Home", new { area = string.Empty }))">
                <button type="submit" class="font-weight-bold nav-link btn btn-link text-dark"><i class="fas fa-sign-out-alt"></i>Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="font-weight-bolder nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="font-weight-bolder nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
